<span *ngIf="this.auth.isLoggedIn">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <button class="navbar-brand btn" (click)="this.auth.openSidebar = !this.auth.openSidebar">
        ☰
      </button>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px"
        >
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLink]="['/home']"
              >Inicio</a
            >
          </li>
          <li class="nav-item dropdown"></li>
        </ul>
      </div>
      <a
        href="#"
        class="
          d-flex
          align-items-center
          text-white text-decoration-none
          dropdown-toggle
        "
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt="hugenerd"
          width="30"
          height="30"
          class="rounded-circle"
        />
        <span class="d-none d-sm-inline mx-1">{{
          this.auth.currentUser.username
        }}</span>
      </a>
      <ul
        class="
          dropdown-menu dropdown-menu-end dropdown-menu-light
          text-small
          shadow
        "
      >
        <li>
          <a class="dropdown-item">
            <i class="fa "></i> {{this.auth.currentUser.rol}}</a
          >
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-sign-out"></i> Salir</a
          >

        </li>

      </ul>
    </div>
  </nav>
  <br /><br />
</span>




<span *ngIf="this.auth.isLoggedIn">
  <br /><br />
  <div
  class="col-md-3 col-xl-2 px-0 sticky-top"
    id="mySidebar"
    [ngClass]="this.auth.openSidebar ? 'sidebar-open' : 'sidebar-hide'"
  >
    <div class="row flex-nowrap">
      <div class="col-auto col-md-10 bg-light  overflow-auto vh-100">
        <br /><br /><br />
        <div class="text-center">
          <img  src="assets/gobiernoLogo.png"  alt=""  width="200px"  height="120px" />
        </div>
        <hr />

        <div  class="d-flex  flex-column  align-items-center align-items-sm-start  px-3   pt-2 text-white" >
          <ul class=" nav nav-pills   flex-column  mb-sm-auto mb-0  align-items-center align-items-sm-start  sticky-offset "  id="menu" >
            <li class="nav-item">
              <a href="#" class="nav-link align-middle px-0">
                <i class="fa fa-home"></i>
                <span class="ms-1 d-sm-inline">Inicio</span>
              </a>
            </li>

            <li *ngFor="let privilege of this.userService.privilegeType;let i = index"  >
              <a href="#submenu{{i}}" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="{{privilege.icon}}"></i>
                <i class="fa fa-users-slash"></i>
                <span  class="ms-1 d-none d-sm-inline">{{privilege.privilegeType}}</span>
              </a>
                  <ul class="collapse  flex-column ms-1 "  *ngFor="let namePrivilege of privilege.privilege" id="submenu{{i}}" >
                    <li class="w-100">
                      <a [routerLink]="['/privileges/'+namePrivilege]"  class="nav-link px-0" style="text-decoration: none;" >•{{namePrivilege}}</a>
                    </li>

                  </ul>
          </li>

            <li class="nav-item">
              <a href="#" class="nav-link align-middle px-0">
                <i class="fa fa-sign-out"></i>
                <span class="ms-1 d-sm-inline" (click)="this.auth.openSidebar = !this.auth.openSidebar">Salir</span>
              </a>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </div>
</span>

<div
  [ngClass]="this.auth.openSidebar ? 'active-content' : 'inactive-content'"
  class="ml-0"
>
  <router-outlet></router-outlet>
</div>
