.flex-nowrap a{
  color: black !important;
}

.flex-nowrap a:hover{
  color: #3c5ca4 !important;
}


.sidebar-hide{

  height: 80%;
  position: fixed;
  margin-left: -280px;
  transition: 0.5s !important;
}

.sidebar-open{

  height: 80%;
  position: fixed;
  margin-left: 0 !important;
  transition: 0.5s !important;
}

.active-content{
  transition: 0.5s !important;
  margin-left: 280px !important;
}

.inactive-content{
  transition: 0.5s !important;

}
