<div class="container">
    <h1 style="text-align: left;">Listado De Departamento</h1>
  
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            ><i class="fa fa-filter"></i
          ></span>
          <input  type="text"  class="form-control" [(ngModel)]="userFilterSelected"
          />
        </div>
      </div>
    </div>
    <div class="col-md-12 table-responsive">
      <table class="table table-striped table-sm">
        <thead class="bg-primary">
          <tr>
            <th>ID DEPARTAMENTO</th>
            <th>NOMBRE DEL DEPARTAMENTO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Department of Departments | criminalRecordFilter: userFilterSelected | paginate: {  itemsPerPage:10, currentPage:page, totalItems:totalRecords }">
            <td>{{ Department.idDepartment }}</td>
            <td>{{ Department.name  }}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>

    </div>
  </div>
  