<div class="container">
  <div class="card">
    <div class="card-header bg-primary">
      AGREGAR CARACTERISTICAS PERSONALES
    </div>
    <div class="card-body">
      <form [formGroup]="criminalForm" (ngSubmit)="onSubmit()" [ngClass]=" !this.validForm?'was-validated':''">
        <div class="modal-body">
          <div class="container p-4">

            <div class="form-floating mb-3">
              <input id="floatingDNI" type="text" formControlName="suspectDni"
              (keypress)="keyPressAlphanumeric($event)" minlength="13" autocomplete="off" class="form-control"
              maxlength="16" pattern="[0-9]+" required/>
              <label for="floatingDNI">DNI<label style="color: red;">*</label></label>
              <div class="invalid-feedback">
                campo identidad requerido
              </div>
            </div>

            <div class="row mb-3">
              <div class="input-group mb-3">
                <label class="input-group-text" for="roles">Tipo de incidencia </label>
                <select class="form-select"  id="roles"  formControlName="incidenceType">
                  <option value="" selected disabled hidden>Escoge un tipo</option>
                  <option value="No aplica" >No aplica</option>
                  <option value="No aplica" >Local</option>
                  <option value="No aplica" >Regional</option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <div class="input-group mb-3">
                <label class="input-group-text" for="roles">Zona de Incidencia</label>
                <select class="form-select"  id="roles" formControlName="incidenceZone">
                  <option value="" selected disabled hidden>Escoge una zona</option>
                  <option value="No aplica" >No aplica</option>
                  <option value="Zona Occidental" >Zona Occidental</option>
                  <option value="Zona Central" >Zona Central</option>
                  <option value="Zona Sur" >Zona Sur</option>
                  <option value="Zona Atlantica" >Zona Atlantica</option>
                  <option value="Zona Oriental" >Zona Oriental</option>
                </select>
              </div>
            </div>

            <div class="row mb-3">

              <div class="col-md">
                <div class="form-floating">
                  <input  type="number" formControlName="periodBelong" (keypress)="keyPressAlphanumeric($event)"
                  class="form-control" required />
                  <label for="floatingPassword">Periodo de duracion (meses)<label style="color: red;">*</label> </label>
                </div>
                <div class="invalid-feedback">
                  duracion requerida
                </div>
              </div>

            </div>


            <div class="form-floating mb-3">
              <input type="text"  formControlName="operationPlace" (keypress)="keyPressAlphanumeric($event)"
                class="form-control" required/>
              <label for="floatingPassword">Lugar de operaciones<label style="color: red;">*</label></label>
            </div>


            <div class="row mb-3">
              <div class="input-group mb-3">
                <label class="input-group-text" for="roles">Tipo de tatuaje</label>
                <select class="form-select"  id="roles" formControlName="tatooType">
                  <option value="" selected disabled hidden>Escoge una zona</option>
                  <option value="No aplica" >No aplica</option>
                  <option value="Alusivo" >Alusivo</option>
                  <option value="Exclusivo" >Exclusivo</option>
                  <option value="Decorativo" >Decorativo</option>
                </select>
              </div>
            </div>


            <div class="row mb-3">
              <div class="input-group mb-3">
                <label class="input-group-text" for="rgrupo">Grupo criminal</label>
                <select class="form-select"  id="grupo" required formControlName="criminalGroupIdCg">
                  <option value="" selected disabled hidden>Escoge un grupo</option>
              <option *ngFor="let group of criminalGroups" [value]="group.idCg">
                {{ group.nombreGrupoCriminal }}
              </option>
              </select>
              </div>
            </div>

            <div class="row mb-3">
              <div class="input-group mb-3">
                <label class="input-group-text" for="roles">Jerarquía</label>
                <select class="form-select"  id="roles" required formControlName="hierarchyCriminalGroup">
                  <option value="" selected disabled hidden>Escoge una jerarquia</option>
                  <option value="No aplica">No aplica</option>
                  <option value="Pandillero Novato">Pandillero Novato</option>
                  <option value="Traca">Traca</option>
                  <option value="Hommie">Hommie</option>
                  <option value="Paisa">Paisa</option>
                  <option value="Soldado">Soldado</option>
                  <option value="Compa">Compa</option>
                  <option value="Cabecilla">Cabecilla</option>
                </select>
              </div>
            </div>

            <div class="row py-3 pull-right">
              <button  class="btn btn-success" type="submit"  >
               Registrar datos
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
