<div class="container">
  <h1 style="text-align: left;">MODIFICACION DE REGISTROS CRIMINALES</h1>

    <div class="row mb-3">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <input
          type="text"
          class="form-control"
          [(ngModel)]="dniCriminal"
          placeholder="DNI"
          (keyup.enter)="getCriminalDataByDNI(dniCriminal)"
          />
        </div>
      </div>
      <div class="col-md-4">
        <button
        class="btn btn-primary btn-block"
        (click)="getCriminalDataByDNI(dniCriminal)"
        >
        Buscar
      </button>
    </div>
    </div>

  <div *ngIf="criminalData !=null" class="col-md-12 table-responsive">
    <table class="table table-striped table-md">
      <thead class="bg-primary">
        <tr>
          <th>DNI</th>
          <th>Grupo criminal</th>
          <th>Lugar de operacion</th>
          <th>Periodo de duracion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let criminal of criminalData" >
          <td>{{criminal.suspectDni}}</td>
          <td>{{criminal.criminalGroupName}}</td>
          <td>{{criminal.operationPlace }}</td>
          <td>{{criminal.periodBelong }}</td>
          <td>
            <button class="btn" (click)="ShowModal()">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
