

<div class="container">
  <table class="table table-bordered table-sm table-hover tabla"  >
    <thead>
        <tr >
            <th>IDENTIDAD</th>
            <th class="tabla_width">TELEFONO</th>
            <th>CLASIFICACION </th>
            <th>SUC</th>
            <th>NOMBRE CLIENTE</th>
            <th>TALLER</th>
            <th>SELECCIONAR</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let nombre of clientesNombres "
        >
            <td><strong>{{nombre.cedula}}</strong>  </td>
            <td>{{nombre.telefono_movil}} </td>
            <td>{{nombre.clasificacion}} </td>
            <td>{{nombre.sucursal}} </td>
            <td>{{nombre.nombre_cliente}} </td>
            <td>{{nombre.nombre_taller}} </td>
            <td class="text-center puntero" (click)="seleccionarClienteLista(nombre)">
                <img src="assets/img/iconos/search.png" width="35px" height="35px">
            </td>

        </tr> -->
    </tbody>
</table>


  <div class="row">

    <div class="col-md-8">


      <div class="card">
        <div class="card-header bg-primary">
          CREACION DE USUARIOS
        </div>
        <div class="card-body">
          <form action="" method="POST">

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

