/* You can add global styles to this file, and also import other style files */
.bg-primary{
  background-color: #252b64 !important ;
  color: white;
}

.btn-primary{
  background-color: #252b64 !important ;
  border-color: #252b64;
}

.btn-primary:hover{
  background-color: #1d224d !important ;
  border-color: #1d224d !important;
}

.text-primary{
  background-color: #252b64 !important ;
}

.btn-outline-primary{
  border-color: #252b64 !important;
  color: #252b64 !important;
}

.btn-outline-primary:hover{
  border-color: #252b64 !important;
  color: white !important;
  background-color: #252b64 !important;
}
@import "~@ng-select/ng-select/themes/default.theme.css";

