/* You can add global styles to this file, and also import other style files */
.bg-primary{
  background-color: #252b64 !important ;
  color: white;
}

.btn-primary{
  background-color: #252b64 !important ;
}

.text-primary{
  background-color: #252b64 !important ;
}



