<div class="container">
    <h1 style="text-align: left;">Modificación De Sospechoso</h1>
  
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="userFilterSelected"
            placeholder="DNI"
          />
        </div>
      </div>
      <div class="col-md-4">
        <button
          class="btn btn-primary btn-block"
          (click)="getSuspectByDni(userFilterSelected)"
        >
          Buscar Sospechoso
        </button>
      </div>
    </div>
    <div class="col-md-12 table-responsive">
      <table class="table table-striped table-sm">
        <thead class="bg-primary">
          <tr>
            <th>DNI</th>
            <th>NOMBRE COMPLETO DEL SOSPECHOSO</th>
            <th>FECHA DE NACIMIENTO</th>
            <th>ALIAS</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="suspectData">
            <td *ngIf="suspectData.dniSuspect">{{ suspectData.dniSuspect }}</td>
            <td *ngIf="suspectData.firstName">
                {{suspectData.firstName}} {{suspectData.middleName}} {{suspectData.thirdName}} {{suspectData.lastName}}
            </td>
            <td *ngIf="suspectData.dateOfBirth">{{ suspectData.dateOfBirth | date: "dd/MM/yyyy" }}</td>
            <td *ngIf="suspectData.dateOfBirth">{{ suspectData.alias}}</td>
            <td *ngIf="suspectData.firstName">
              <button class="btn" (click)="ShowModal()">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div   bsModal  #updateUserModal="bs-modal" class="modal fade fondomodall"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document" >
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h3>EDICION DE SOSPECHOSO</h3>
          <button    type="button"   class="btn-close"  data-dismiss="modal"  aria-label="Close"  (click)="closeModal()"></button>
        </div>
        <form [formGroup]="suspectForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="container p-4">

              <div class="form-floating mb-3">
                <input  type="text" formControlName="dniSuspect" (keypress)="keyPressAlphanumeric($event)" maxlength="16" autocomplete="off" class="form-control" />
                <label for="floatingUser">DNI<label style="color: red;">*</label></label>
              </div>
  
              <div class="row mb-3">
                <div class="col-md">
                  <div class="form-floating">
                    <input  type="text" formControlName="firstName" (keypress)="keyPressAlphanumeric($event)" maxlength="15"  class="form-control" />
                    <label for="floatingPassword">Primer Nombre<label style="color: red;">*</label></label>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input type="text"  formControlName="middleName" (keypress)="keyPressAlphanumeric($event)" maxlength="15"   class="form-control" />
                    <label for="floatingPassword">Segundo Nombre </label>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md">
                  <div class="form-floating">
                    <input  type="text" formControlName="thirdName" (keypress)="keyPressAlphanumeric($event)" maxlength="15"  class="form-control" />
                    <label for="floatingPassword">Primer Apellido <label style="color: red;">*</label> </label>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input type="text"  formControlName="lastName" (keypress)="keyPressAlphanumeric($event)" maxlength="15"  class="form-control" />
                    <label for="floatingPassword">Segundo Apellido<label style="color: red;">*</label></label>
                  </div>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="alias" (keypress)="keyPressAlphanumeric($event)" maxlength="20" autocomplete="off" class="form-control" />
                <label for="floatingUser">Alias</label>
              </div>

              <div class="row mb-3">
                <div class="input-group mb-3">
                  <label class="input-group-text" for="roles">Sexo<label style="color: red;">*</label></label>
                  <select class="form-select"  id="roles"  formControlName="sex">
                <option value="" selected disabled hidden>Escoge un Sexo</option>
                <option>M</option>
                <option>F</option>
                </select>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input  type="number" step="0.01" formControlName="height" maxlength="6"  autocomplete="off" class="form-control" />
                <label for="floatingUser">Altura en Metros<label style="color: red;">*</label></label>
              </div>
              <div class="form-floating mb-3">
                <input  type="number"  formControlName="weight"  maxlength="6" autocomplete="off" class="form-control" />
                <label for="floatingUser">Peso en LBS<label style="color: red;">*</label></label>
              </div>

                  <div class="form-floating mb-3">
                <input  type="text" formControlName="eyesColor" (keypress)="keyPressAlphanumeric($event)" maxlength="15" autocomplete="off" class="form-control" />
                <label for="floatingUser">Ojos de color<label style="color: red;">*</label></label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="build" (keypress)="keyPressAlphanumeric($event)" maxlength="20" autocomplete="off" class="form-control" />
                <label for="floatingUser">Contextura<label style="color: red;">*</label></label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="personFrom" (keypress)="keyPressAlphanumeric($event)" maxlength="20" autocomplete="off" class="form-control" />
                <label for="floatingUser">Lugar de origen<label style="color: red;">*</label></label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="ocupattion" (keypress)="keyPressAlphanumeric($event)" maxlength="50" autocomplete="off" class="form-control" />
                <label for="floatingUser">Ocupacion<label style="color: red;">*</label></label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="passportNumber" (keypress)="keyPressAlphanumeric($event)" maxlength="10" autocomplete="off" class="form-control" />
                <label for="floatingUser">No. Pasaporte</label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="particularSign" (keypress)="keyPressAlphanumeric($event)" maxlength="50" autocomplete="off" class="form-control" />
                <label for="floatingUser">Señas particulares del cuerpo<label style="color: red;">*</label></label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="tattoo" (keypress)="keyPressAlphanumeric($event)" maxlength="50" autocomplete="off" class="form-control" />
                <label for="floatingUser">Tatuajes</label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="operationPlace" (keypress)="keyPressAlphanumeric($event)" maxlength="60" autocomplete="off" class="form-control" />
                <label for="floatingUser">Lugar de operacion</label>
              </div>
              <!-- value="{{ this.newSuspect.dateOfBirth | date:'yyyy-MM-dd' }}" -->
              <div class="form-floating mb-3">
                <input  type="date" [ngModel]="this.newSuspect.dateOfBirth | date:'yyyy-MM-dd'"   [ngModelOptions]="{standalone: true}"  (ngModelChange)="onChange($event)"  (keypress)="keyPressAlphanumeric($event)"  autocomplete="off" class="form-control" />
                <label for="floatingUser">Fecha de nacimiento<label style="color: red;">*</label></label>
              </div>


              <div class="row mb-3">
                <div class="input-group mb-3">
                  <label class="input-group-text" for="roles">Nacionalidad<label style="color: red;">*</label></label>
                  <select    class="form-select"  id="roles"  formControlName="nationaliy" >
                    <option *ngFor="let nationaliy of Nacionalidades" [value]="nationaliy">
                      {{ nationaliy }}
                    </option>
                  </select>
                </div>
              </div>


              <div class="form-floating mb-3">
                <input  type="number" formControlName="age"  maxlength="3" autocomplete="off" class="form-control" />
                <label for="floatingUser">Edad<label style="color: red;">*</label></label>
              </div>


              <div class="row mb-3">
                <div class="input-group mb-3">
                  <label class="input-group-text" for="roles">Estado Civil<label style="color: red;">*</label></label>
                  <select    class="form-select"  id="roles"  formControlName="civilStatus" >
                    <option *ngFor="let civilStatus of EstadoCivil" [value]="civilStatus">
                      {{ civilStatus }}
                    </option>
                  </select>
                </div>
              </div>


              <div class="form-floating mb-3">
                <input  type="text" formControlName="colonia" (keypress)="keyPressAlphanumeric($event)" maxlength="30" autocomplete="off" class="form-control" />
                <label for="floatingUser">Colonia</label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="street" (keypress)="keyPressAlphanumeric($event)" maxlength="20" autocomplete="off" class="form-control" />
                <label for="floatingUser">Calle</label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="avenue" (keypress)="keyPressAlphanumeric($event)" maxlength="20" autocomplete="off" class="form-control" />
                <label for="floatingUser">Avenida</label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="village" (keypress)="keyPressAlphanumeric($event)" maxlength="30" autocomplete="off" class="form-control" />
                <label for="floatingUser">Aldea</label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="avenue" (keypress)="keyPressAlphanumeric($event)" maxlength="30" autocomplete="off" class="form-control" />
                <label for="floatingUser">Caserio</label>
              </div>

              <div class="form-floating mb-3">
                <input  type="number" formControlName="houseNumber"  maxlength="8" autocomplete="off" class="form-control" />
                <label for="floatingUser">Numero De Casa</label>
              </div>
              
              <div class="form-floating mb-3">
                <input  type="text" formControlName="pasaje" (keypress)="keyPressAlphanumeric($event)" maxlength="25" autocomplete="off" class="form-control" />
                <label for="floatingUser">Pasaje</label>
              </div>

              <div class="form-floating mb-3">
                <input  type="text" formControlName="referenceAddress" (keypress)="keyPressAlphanumeric($event)" maxlength="40" autocomplete="off" class="form-control" />
                <label for="floatingUser">Direccion de Referencia</label>
              </div>


              <div class="row mb-3">
                <div class="input-group mb-3">
                  <label class="input-group-text" for="roles">Departamento<label style="color: red;">*</label></label>
                  <select    class="form-select"  id="roles"  formControlName="department" (click)="getDepartment()" >
                    <option *ngFor="let department of Departamentos" [value]="department">
                      {{ department }}
                    </option>
                  </select>
                </div>
              </div>


              <div class="row mb-3">
                <div class="input-group mb-3">
                  <label class="input-group-text" for="roles">Municipio<label style="color: red;">*</label></label>
                  <select    class="form-select"  id="roles"  formControlName="municipio" >
                    <option *ngFor="let municipio of MunicipiosLst" [value]="municipio">
                      {{ municipio }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- <div class="row mb-3">
                <div class="input-group mb-3">
                  <label class="input-group-text" for="roles">Roles</label>
                  <select
                    class="form-select"
                    id="roles"
                    formControlName="rolIdRol"
  
                  >
                    <option *ngFor="let rol of rolsData" [value]="rol.idRol">
                      {{ rol.name }}
                    </option>
                  </select>
                </div>
              </div> -->
  

              <div class="row py-3 pull-right">
                <button
                  class="btn btn-success"
                  type="submit"
                  [disabled]="isValid()"
                >
                  <ng-container> Actualizar datos </ng-container>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  