<div bsModal #createUserModal="bs-modal" class="modal fade fondomodall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          CREACION DE USUARIOS
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          </button>
        </div>
        <div class="modal-body">


          <div class="container p-4">
            <div class="form-floating mb-3">
              <input type="text"
              [(ngModel)]="newUser.username"
              class="form-control"
              id="floatingUser"
              [ngClass]="newUser.username== '' ||newUser.username== null ?'is-invalid':''"
              placeholder="Usuarios">
              <label for="floatingUser">Usuario</label>
            </div>

            <div class="row mb-3">
              <div class="col-md">
                <div class="form-floating ">
                  <input type="password"
                  [(ngModel)]="newUser.password"
                  class="form-control"
                  id="floatingPassword"
                  [ngClass]="newUser.password!= passwordConfirm && passwordConfirm!= ''?'is-invalid':''"
                  placeholder="Password">
                  <label for="floatingPassword"  >Contraseña</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <input type="password"
                  [(ngModel)]="passwordConfirm"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Password"
                  [ngClass]="newUser.password!= passwordConfirm && passwordConfirm!= ''?'is-invalid':''"
                  (keyup)="checkPasswords()"
                  required>
                  <label  for="floatingPassword"  >Repetir contraseña</label>
                </div>

              </div>
            </div>
            <div class="row mb-3">

              <div class="input-group mb-3">
                <label class="input-group-text" for="roles">Roles</label>
                <select class="form-select" id="roles"  [(ngModel)]="newUser.rolIdRol">
                  <option *ngFor="let rol of rolsData" [value]="rol.idRol">{{rol.name}}</option>
                </select>
              </div>
            </div>

            <div class="row">

              <div class="input-group mb-3">
                <label class="input-group-text" for="departamntos">Dpto.</label>
                <select class="form-select" id="departamntos"  [(ngModel)]="newUser.departmentIdDepartmentNavigation">
                  <option *ngFor="let department of departmentsData" [value]="department.idDepartment">{{department.name}}</option>
                </select>
              </div>

            </div>

            <div class="row py-3 pull-right">
              <button
              class="btn btn-success"
              (click)="createUser(newUser)"
              [disabled]="newUser.username== '' ||newUser.username== null ||
                          (newUser.password!= passwordConfirm && passwordConfirm!= '') ||
                          newUser.password == null">Crear usuario</button>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>
